@model RoleEditModel

<h3 class="bg-primary text-white text-center m-1 p-1">Edit '@Model.Role' Role</h3>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post" class="m-1 p-1">

    <input hidden name="roleName" value="@Model.Role.Name" />
    <input hidden name="roleId" value="@Model.Role.Id" />

    <h5 class="bg-info text-white p-1">Members To Add</h5>
    @if (Model.NonMembers.Count() == 0)
    {
        <p class="text-center font-weight-bold">No members to add</p>
    }
    else
    {
        <table class="table table-striped table-sm">
            @foreach(AppUser user in Model.NonMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><input name="idsToAdd" value="@user.Id" type="checkbox"/></td>
                </tr>
            }
        </table>
        
    }

    <h5 class="bg-info text-white p-1">Members To Remove</h5>
    @if (Model.Members.Count() == 0)
    {
        <p class="text-center font-weight-bold">No members to remove</p>
    }
    else
    {
        <table class="table table-striped table-sm">
            @foreach (AppUser user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><input name="idsToDelete" value="@user.Id" type="checkbox"/></td>
                </tr>
            }
        </table>
    }
    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn" asp-action="Index">Cancel</a>
</form>